#include <behaviors.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    tapping-term-ms = <250>;
    flavor = "tap-preferred";
};

&sk {
    release-after-ms = <2000>;
    quick-release;
};

&caps_word {
    continue-list = <UNDERSCORE BACKSPACE DELETE MINUS>;
};

#define MOUSE_SCROLL_MAX 30
#define U_MOUSE_MOVE_MAX 1000

#undef MOVE_UP
#undef MOVE_DOWN
#undef MOVE_LEFT
#undef MOVE_RIGHT

#define MOVE_UP MOVE_VERT(-U_MOUSE_MOVE_MAX)
#define MOVE_DOWN MOVE_VERT(U_MOUSE_MOVE_MAX)
#define MOVE_LEFT MOVE_HOR(-U_MOUSE_MOVE_MAX)
#define MOVE_RIGHT MOVE_HOR(U_MOUSE_MOVE_MAX)

#undef SCROLL_UP
#undef SCROLL_DOWN

#define SCROLL_UP SCROLL_VERT(MOUSE_SCROLL_MAX)
#define SCROLL_DOWN SCROLL_VERT(-MOUSE_SCROLL_MAX)

&mmv {
    time-to-max-speed-ms = <250>;
    acceleration-exponent = <2>;
};

&mwh {
    time-to-max-speed-ms = <250>;
    acceleration-exponent = <2>;
};

/* Layers */

#define BASE 0
#define LOWER 1
#define RAISE 2
#define COMBO 3

/ {
    backlight: pwmleds {
        compatible = "pwm-leds";

        pwm_led_0 {
            pwms = <&pwm0 0 PWM_MSEC(10) PWM_POLARITY_NORMAL>;
        };
    };

    behaviors {
        ht: ht {
            compatible = "zmk,behavior-hold-tap";
            label = "Hold&Tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            flavor = "tap-preferred";
        };

        lprn: lprn {
            compatible = "zmk,behavior-mod-morph";
            label = "LPRN";
            bindings = <&kp LEFT_PARENTHESIS>, <&kp LEFT_BRACE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        rpen: rpen {
            compatible = "zmk,behavior-mod-morph";
            label = "RPEN";
            bindings = <&kp RIGHT_PARENTHESIS>, <&kp RIGHT_BRACE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        entbsp: entbsp {
            compatible = "zmk,behavior-mod-morph";
            label = "ENTBSP";
            bindings = <&kp ENTER>, <&kp BACKSPACE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        slash: slash {
            compatible = "zmk,behavior-mod-morph";
            label = "SLASH";
            bindings = <&kp SLASH>, <&kp NON_US_BACKSLASH>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        lbrkt: lbrkt {
            compatible = "zmk,behavior-mod-morph";
            label = "LBRKT";
            bindings = <&kp LEFT_BRACKET>, <&kp LESS_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        rbrkt: rbrkt {
            compatible = "zmk,behavior-mod-morph";
            label = "RBRKT";
            bindings = <&kp RIGHT_BRACKET>, <&kp GREATER_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        four_dollar: four_dollar {
            compatible = "zmk,behavior-mod-morph";
            label = "FOUR_DOLLAR";
            bindings = <&kp N4>, <&kp DOLLAR>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        six_caret: six_caret {
            compatible = "zmk,behavior-mod-morph";
            label = "SIX_CARET";
            bindings = <&kp N6>, <&kp CARET>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        nine_tilde: nine_tilde {
            compatible = "zmk,behavior-mod-morph";
            label = "NINE_TILDE";
            bindings = <&kp N9>, <&kp TILDE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        semi_col: semi_col {
            compatible = "zmk,behavior-mod-morph";
            label = "SEMI_COL";
            bindings = <&kp SEMICOLON>, <&kp COLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        and: and {
            compatible = "zmk,behavior-mod-morph";
            label = "AND";
            bindings = <&kp AMPERSAND>, <&ma_and>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        semicol: semicol {
            compatible = "zmk,behavior-mod-morph";
            label = "SEMICOL";
            bindings = <&kp SEMICOLON>, <&kp COLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        hold_semicol: hold_semicol {
            compatible = "zmk,behavior-hold-tap";
            label = "Hold&Semicol";
            bindings = <&kp>, <&semicol>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            flavor = "tap-preferred";
        };

        quot: quot {
            compatible = "zmk,behavior-mod-morph";
            label = "quot";
            bindings = <&kp DOUBLE_QUOTES>, <&kp SQT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        hold_quot: hold_quot {
            compatible = "zmk,behavior-hold-tap";
            label = "Hold&Quot";
            bindings = <&kp>, <&quot>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            flavor = "tap-preferred";
        };

        or: or {
            compatible = "zmk,behavior-mod-morph";
            label = "OR";
            bindings = <&kp PIPE>, <&ma_or>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        dot_ques: dot_ques {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_QUES";
            bindings = <&kp PERIOD>, <&kp QUESTION>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        com_excl: com_excl {
            compatible = "zmk,behavior-mod-morph";
            label = "COM_EXCL";
            bindings = <&kp COMMA>, <&kp EXCL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        hold_four_dollar: hold_four_dollar {
            compatible = "zmk,behavior-hold-tap";
            label = "Hold&Four";
            bindings = <&kp>, <&four_dollar>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            flavor = "tap-preferred";
        };

        hold_six_caret: hold_six_caret {
            compatible = "zmk,behavior-hold-tap";
            label = "Hold&Six";
            bindings = <&kp>, <&six_caret>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            flavor = "tap-preferred";
        };

        hold_ent_bsp: hold_ent_bsp {
            compatible = "zmk,behavior-hold-tap";
            label = "Hold&Enter";
            bindings = <&kp>, <&entbsp>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            flavor = "tap-preferred";
        };

        unds_del: unds_del {
            compatible = "zmk,behavior-mod-morph";
            label = "UNDS_DEL";
            bindings = <&kp UNDERSCORE>, <&kp DEL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        zero_del: zero_del {
            compatible = "zmk,behavior-mod-morph";
            label = "ZERO_DEL";
            bindings = <&kp N0>, <&kp DEL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        eql_only: eql_only {
            compatible = "zmk,behavior-mod-morph";
            label = "EQUAL_ONLY";
            bindings = <&kp EQUAL>, <&none>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        com_dot: com_dot {
            compatible = "zmk,behavior-mod-morph";
            label = "COM_DOT";
            bindings = <&kp COMMA>, <&kp PERIOD>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    macros {
        ma_equal: ma_equal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp EQUAL>, <&macro_press>;

            label = "MA_EQUAL";
        };

        ma_pointer: ma_pointer {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MINUS &kp GT>;
            label = "MA_POINTER";
        };

        ma_or: ma_or {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp PIPE &kp PIPE>;
            label = "MA_OR";
        };

        ma_and: ma_and {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp AMPS &kp AMPS>;
            label = "MA_AND";
        };
    };

    combos {
        compatible = "zmk,combos";

        alt_tab {
            bindings = <&kp LA(TAB)>;
            key-positions = <24 0>;
            layers = <1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            bindings = <
&kp Q  &kp W  &kp E  &kp R  &kp T      &kp Y      &kp U  &kp I  &kp O  &kp P
&kp A  &kp S  &kp D  &kp F  &kp G      &kp H      &kp J  &kp K  &kp L  &kp RET
&kp Z  &kp X  &kp C  &kp V  &kp SPACE  &kp SPACE  &kp B  &kp N  &kp M  &kp LS(UNDER)
            >;

            label = "BASE";
        };

        LOWER {
            bindings = <
&gresc          &kp HOME   &kp UP     &kp END    &lbrkt  &rbrkt       &and      &or                   &ma_pointer         &kp EQUAL
&ht LSHIFT TAB  &kp LEFT   &kp DOWN   &kp RIGHT  &lprn   &rpen        &kp LALT  &hold_semicol LGUI 0  &hold_quot LCTRL 0  &hold_ent_bsp LEFT_SHIFT 0
&kp LC(Z)       &kp LC(X)  &kp LC(C)  &kp LC(V)  &none   &lt 3 SPACE  &slash    &com_excl             &dot_ques           &kp MINUS
            >;

            label = "LOWER";
        };

        RAISE {
            bindings = <
&gresc  &kp EXCL    &kp AT       &kp HASH   &kp KP_SUBTRACT  &kp KP_PLUS      &kp N1                    &kp N2       &kp N3                   &eql_only
&none   &kp DOLLAR  &kp PERCENT  &kp CARET  &kp KP_DIVIDE    &kp KP_MULTIPLY  &hold_four_dollar LALT 0  &ht RGUI N5  &hold_six_caret RCTRL 0  &hold_ent_bsp LEFT_SHIFT 0
&none   &kp AMPS    &kp ASTRK    &kp TILDE  &lt 3 SPACE      &none            &kp N7                    &kp N8       &nine_tilde              &zero_del
            >;

            label = "RAISE";
        };

        COMBO {
            bindings = <
&gresc          &mkp LCLK       &mmv MOVE_UP    &mkp RCLK         &none  &none  &kp F1  &kp F2  &kp F3  &none
&ht LSHIFT TAB  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT   &none  &none  &kp F4  &kp F5  &kp F6  &ht LSHIFT ENTER
&bootloader     &mwh SCROLL_UP  &mkp MCLK       &mwh SCROLL_DOWN  &none  &none  &kp F7  &kp F8  &kp F9  &none
            >;

            label = "COMBO";
        };
    };
};
